<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>yMe</title>
  </head>
  <body>
    Nome: <span id="name"></span><br />
    Email: <span id="email"></span><br />
    Criado em: <span id="createdAt"></span><br />
    ID: <span id="id"></span>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/scripts/authenticate.js"></script>
  </body>
</html>

<!-- Not working now! -->
